@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #FF6827, #534DF7);
}
.stopwatch {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #FF6827, #534DF7);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 2em;
  height: 100%;
  width: 100%;
  padding-bottom: 15em;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.сlock_face {
  height: 100%;
  width: 100%;
  padding-bottom: 15em;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.functionals {
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
#display {
  margin-bottom: 20px;
}
#display span {
  font-size: 6em;
}
button {
  cursor: pointer;
  font-size: 2.5em;
  margin-left: 10px;
  border-radius: 6px;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}
button:hover {
  background-color: rgba(255, 255, 255, .9);
}
button:active {
  background-color: rgba(255, 255, 255, .9);
}
button:focus {
  outline: 0;
}